.carousel-inner img {
    width: 80%;
    max-height: 600px;
}

.carousel-inner{
 height: 400px;
}

.carousel-caption d-none d-md-block{
    color: aliceblue;
    background-color: aliceblue;
}

.Eslogan{
    text-align: center;
    margin-top: 60px;
}